header {
    text-align: center;
    font-size: 34px;
   
}
section {
width: 600px;
margin: 0 auto;
}

h2 {
    font-size: 34px;
    font-family: Arial;
    padding-left: 50px;
    margin-left:40px ;

}
h3 {
    font-size: 24px;
    padding-left: 50px;
    margin-left:40px ;
}
.box {
    background-color: rgb(214, 194, 127);
    width: 180px;
    height: 180px;
    margin-left: 90px;
    padding: 15px;
    border: 2px solid black;
    outline: 10px solid rgb(128, 116, 172);
    box-shadow: inset 0 0 0 15px palevioletred;
    box-sizing: border-box;
    display: inline-block;  
    
}

span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 30px;
    display: inline-block;

}
.content {
    background-color: palevioletred;
    
}
.padding {
    background-color: powderblue;
}
.border {
    background-color: black;
}
.margin {
    background-color: palegreen;
}
p {
    display: inline;
    margin: 10px;
}

 /*exersise-2*/

 /*no border*/

.container {
    width: 600px;
    padding: 20px;
    display: flex;
    border: 1px solid black;
}
.smallbox {
    background-color:  rgb(195, 195, 195);
    width: 180px;
    height: 100px;
    margin: 10px;
    display: inline-block; 
}

/* 1px border */

.container1 {
    width: 600px;
    height: 250px;
    padding: 20px;
    border: 1px solid black;
}
.borderbox {
    background-color: rgb(195, 195, 195);
    width: 180px;
    height: 100px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block; 
}


/*1px border in sameline*/


.container2 {
    width: 600px;
    display: flex;
    padding: 20px;
    border: 1px solid black;
}
.borderboxsameline {
    background-color: rgb(195, 195, 195);
    width: 180px;
    height: 100px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block; 
    box-sizing: border-box;
}
